# Travis CI config for the WordPoints developer tools.

language: php

php:
  - 7.1

# Use Ubuntu Precise because Trusty doesn't support PHP 5.2 or 5.3.
dist: precise

# Use the new infrastructure.
sudo: false

addons:
  apt:
    packages:
      # Needed for `xmllint`.
      - libxml2-utils

before_script:
  - npm install -g jshint
  - gem install travis-lint
  - source .wordpoints-dev-lib-config.sh
  - export DEV_LIB_PATH=none
  - source bin/env.sh
  - source bin/functions.sh
  - source travis/commands.sh
  - install-from-github WPCS
  - mkdir -p $PHPCS_DIR && git clone --depth 1 https://github.com/squizlabs/PHP_CodeSniffer.git -b master $PHPCS_DIR
  - $PHPCS_DIR/bin/phpcs --config-set installed_paths "$WPCS_DIR",phpcs
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - composer global require "phpunit/phpunit=^5.7.15"

script:
  - wpdl-codesniff-xmllint
  - wpdl-codesniff-bash
  - wpdl-codesniff-jshint
  - wpdl-codesniff-strings
  - wpdl-codesniff-dittography
  - CODESNIFF_PATH_PHP_PHPCS=("${CODESNIFF_PATH_PHP[@]}" '!' -path "./phpcs/WordPoints/Tests/*"); wpdl-codesniff-phpcs
  - find ./travis -name '*.yml' -exec travis-lint {} \;
  - CODESNIFF_PATH_PHP_SYNTAX=("${CODESNIFF_PATH_PHP[@]}" '!' -path './wpcept/*' '!' -path './phpcs/*' '!' -path './l10n-validator/*'); phpenv global 5.2 && wpdl-codesniff-php-syntax
  - CODESNIFF_PATH_PHP_SYNTAX=("${CODESNIFF_PATH_PHP[@]}" '!' -path './wpcept/*'); phpenv global 5.3 && wpdl-codesniff-php-syntax; CODESNIFF_PATH_PHP_SYNTAX= A=$?; [[ $A == 0 ]]
  - phpenv global 5.4 && wpdl-codesniff-php-syntax
  - phpenv global 5.5 && wpdl-codesniff-php-syntax
  - phpenv global 5.6 && wpdl-codesniff-php-syntax
  #- phpenv global 7.0 && wpdl-codesniff-php-syntax
  - phpenv global 7.1 && wpdl-codesniff-php-syntax
  - phpunit --filter WordPoints /tmp/phpcs/tests/AllTests.php

# EOF
