# Travis CI config for the WordPoints developer tools.

language: php

dist: trusty

# Use the new infrastructure.
sudo: false

addons:
  apt:
    packages:
      # Needed for `xmllint`.
      - libxml2-utils

env:
  global:
    - RUN_PHPCS=1

matrix:
  include:
    - php: 7.3
    - php: 7.2
    - php: 7.1
    - php: 7.0
    - php: 5.6
    - php: 5.5
    - php: 5.4
    # Use Ubuntu Precise because Trusty doesn't support PHP 5.2 or 5.3.
    - php: 5.3
      dist: precise
      env: RUN_PHPCS=0
    - php: 5.2
      dist: precise
      env: RUN_PHPCS=0
    - php: nightly
  allow_failures:
    - php: nightly

before_script:
  - npm install -g jshint
  - gem install travis-lint
  - source .wordpoints-dev-lib-config.sh
  - export DEV_LIB_PATH=none
  - source bin/env.sh
  - source bin/functions.sh
  - wordpoints-dev-lib-config
  - source travis/commands.sh
  - if [[ $RUN_PHPCS == 1 ]]; then mkdir -p $WPCS_DIR && git clone --depth 1 https://github.com/${WPCS_GITHUB_SRC}.git -b develop $WPCS_DIR; fi
  - if [[ $RUN_PHPCS == 1 ]]; then mkdir -p $PHPCS_DIR && git clone --depth 1 https://github.com/squizlabs/PHP_CodeSniffer.git -b master $PHPCS_DIR; fi
  - if [[ $RUN_PHPCS == 1 ]]; then $PHPCS_DIR/bin/phpcs --config-set installed_paths "$WPCS_DIR",phpcs; fi
  - if [[ ${TRAVIS_PHP_VERSION:0:2} == "7." ]]; then export PATH="$HOME/.composer/vendor/bin:$PATH"; fi
  - if [[ ${TRAVIS_PHP_VERSION:0:2} == "7." ]]; then composer global require "phpunit/phpunit=^5.7.15"; fi
  - if [[ $TRAVIS_PHP_VERSION == 5.2 ]]; then CODESNIFF_PATH_PHP_SYNTAX=("${CODESNIFF_PATH_PHP[@]}" '!' -path './wpcept/*' '!' -path './phpcs/*' '!' -path './l10n-validator/*'); fi
  - if [[ $TRAVIS_PHP_VERSION == 5.3 ]]; then CODESNIFF_PATH_PHP_SYNTAX=("${CODESNIFF_PATH_PHP[@]}" '!' -path './wpcept/*'); fi

script:
  - wpdl-codesniff-xmllint
  - wpdl-codesniff-bash
  - wpdl-codesniff-jshint
  - wpdl-codesniff-strings
  - wpdl-codesniff-dittography
  - if [[ $RUN_PHPCS == 1 ]]; then CODESNIFF_PATH_PHP_PHPCS=("${CODESNIFF_PATH_PHP[@]}" '!' -path "./phpcs/WordPoints/Tests/*"); wpdl-codesniff-phpcs; fi
  - find ./travis -name '*.yml' -exec travis-lint {} \;
  - wpdl-codesniff-php-syntax
  - if [[ ${TRAVIS_PHP_VERSION:0:2} == "7." ]]; then phpunit --bootstrap="$PHPCS_DIR/tests/bootstrap.php" --filter WordPoints "$PHPCS_DIR/tests/AllTests.php"; fi

# EOF
