# Travis CI config for the WordPoints developer tools.

language: php

php:
  - 7.0

# Use the new infrustructure.
sudo: false

before_script:
  - gem install travis-lint

script:
  - xmllint --noout $(find . -type f \( -name '*.xml' -o -name '*.xml.dist' \))
  - find . -name '*.sh' -exec bash -n {} \;
  - find ./travis -name '*.yml' ! -name '.coveralls.yml' -exec travis-lint {} \;
  - phpenv global 5.2 && find . ! -path './phpcs/*' ! -path './l10n-validator/*' -name '*.php' -exec php -lf {} \;
  - phpenv global 5.3 && find . -name '*.php' -exec php -lf {} \;
  - phpenv global 5.4 && find . -name '*.php' -exec php -lf {} \;
  - phpenv global 5.5 && find . -name '*.php' -exec php -lf {} \;
  - phpenv global 5.6 && find . -name '*.php' -exec php -lf {} \;
  - phpenv global 7.0 && find . -name '*.php' -exec php -lf {} \;
  - phpenv global hhvm && find . -name '*.php' -exec php -lf {} \;

# EOF
