# Travis CI config for the WordPoints developer tools.

language: php

php:
  - 7.1

# Use the new infrustructure.
sudo: false

before_script:
  - phpenv global 7.0 2>/dev/null
  - npm install -g jshint
  - gem install travis-lint
  - export DEV_LIB_PATH=none
  - source bin/env.sh
  - source bin/functions.sh

script:
  - wpdl-codesniff-xmllint
  - wpdl-codesniff-bash
  - wpdl-codesniff-jshint
  - wpdl-codesniff-strings
  - find ./travis -name '*.yml' ! -name '.coveralls.yml' -exec travis-lint {} \;
  - CODESNIFF_PATH_PHP_SYNTAX=("${CODESNIFF_PATH_PHP[@]}" '!' -path './wpcept/*' '!' -path './phpcs/*' '!' -path './l10n-validator/*'); phpenv global 5.2 && wpdl-codesniff-php-syntax
  - CODESNIFF_PATH_PHP_SYNTAX=("${CODESNIFF_PATH_PHP[@]}" '!' -path './wpcept/*'); phpenv global 5.3 && wpdl-codesniff-php-syntax; CODESNIFF_PATH_PHP_SYNTAX= A=$?; [[ $A == 0 ]]
  - phpenv global 5.4 && wpdl-codesniff-php-syntax
  - phpenv global 5.5 && wpdl-codesniff-php-syntax
  - phpenv global 5.6 && wpdl-codesniff-php-syntax
  - phpenv global 7.0 && wpdl-codesniff-php-syntax
  - phpenv global 7.1 && wpdl-codesniff-php-syntax
  - phpenv global hhvm && wpdl-codesniff-php-syntax

# EOF
